.header {
    height: 74px;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);

    &__logo {
        width: 106px;
        cursor: pointer;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            color: var(--color-text);
        }
    }

    &__actions {
        display: flex;
        gap: 10px;
    }

    @media (max-width: 768px) {
        &__logo {
            display: none;
        }
    }
}
