[data-theme="dark"] {
    --color-background: #09090b;
    --color-text: #fafafa;
    --color-border: #27272a;
    --color-surface: #27272a;
    --color-primary: #fafafa;
    --color-disabled: #7d7d7d;
}