[data-theme="light"] {
    --color-background: #ffffff;
    --color-text: #18181a;
    --color-border: #e4e4e7;
    --color-surface: #e4e4e7;
    --color-primary: #18181b;
    --color-disabled: #303034;
}