.main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 174px);
}

.generator {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__output {
        position: relative;
        min-height: 120px;
        display: flex;
        align-items: center;
    }

    &__parameters {
        width: fit-content;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 16px;
    }

    &__parameter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &__label {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
    }
}

.casino {
    position: absolute;
    background: var(--color-background);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.cards {
    margin-top: 6rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 16px;

    > :last-child {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .generator {
        &__parameters {
            max-width: 248px;
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 16px;
        }
    }

    .casino {
        gap: 8px;
    }

    .cards {
        margin-top: 2rem;
        grid-template-columns: 1fr;

        > :last-child {
            grid-column: span 1;
        }
    }
}