.dropdown {
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    text-align: center;
    color: var(--color-text);
    position: relative;
    user-select: none;

    &__open {
        border: 1px solid var(--color-primary);
    }

    &__disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }

    &__selected {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__list {
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        height: 96px;
        background: var(--color-background);
        border: 1px solid var(--color-primary);
        display: none;
        z-index: 1;
        overflow-y: auto;
        scrollbar-width: none;

        &__noscroll {
            overflow-y: hidden;
        }

        &__item {
            height: 48px;
            padding: 8px 16px;
            cursor: pointer;
            border-bottom: 1px solid var(--color-border);
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: var(--color-surface);
            }
        }

        &__open {
            display: block;
        }

        &__scrollbar {
            color: var(--color-disabled);
            padding: 4px 0;
            position: absolute;
            top: 120%;
            right: 0;
            width: 24px;
            height: 96px;
            background: var(--color-background);
            border: 1px solid var(--color-primary);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            z-index: 2;

            &__rails {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            svg {
                position: absolute;
                top: 0;
                transition: top 0.05s ease-in-out;
            }
        }
    }


}