.button {
    min-width: 160px;
    max-width: 240px;
    width: fit-content;
    height: 48px;
    color: var(--color-text);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &--icon {
        min-width: 48px;
        max-width: 48px;
    }

    &:not(:disabled) {
        &:hover {
            background-color: var(--color-surface);
        }
    }

    &:disabled {
        color: var(--color-disabled);
        cursor: not-allowed;

        img {
            filter: grayscale(100%) brightness(0.5);
        }
    }
}