.button {
    min-width: 160px;
    max-width: 240px;
    width: fit-content;
    height: 48px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    background-color: #0a0a0a;
    border: 2px solid #7c7c7c;
    border-radius: 100vmax;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &.icon {
        min-width: 48px;
        max-width: 48px;
    }

    &:hover {
        background-color: #1a1a1a;
    }

    &:disabled {
        color: #aaaaaa;
        background-color: #171717;
        cursor: not-allowed;

        img {
            filter: grayscale(100%) brightness(0.5);
        }
    }

}